<div class="container">
  <div class="cards">
    <% @flats.each do |flat| %>
      <div class="card">
      <%= link_to flat_path(flat) do %>
        <%# are there photos attached? if true(?) image sample/random display  %>
        <img class="card-img" src="<%= (flat.photos.attached? ? cl_image_path(flat.photos.sample.key) : asset_path("logo.png"))%>">
        <h4><%= link_to flat.name, flat_path((flat)) %></h4>
        <div class="card-info">
          <p><i class="fa-solid fa-person fa-lg"></i>  <%= flat.guest_num  %></p>
          <p><i class="fa-solid fa-star fa-lg"></i> Rating </p>
        </div>
        <div class="card-price">
          <p>€<%= flat.price_per_night  %> per night </p>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>

</div>
