<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">

      <div class="form-login">
        <h1>Add a new Cabin</h1>

        <%= simple_form_for(@flat) do |f| %>
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :description %>
          <%= f.input :guest_num %>
          <%= f.input :price_per_night %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.submit "Add Flat", class: "btn btn-primary" %>
        <% end %>
      </div>

    </div>
  </div>
</div>
