<div class="container">
  <div>
    <%= cl_image_tag @flat.photo.key, height: 300, width: 400, crop: :fill %>
  </div>
  <div>
    <h2><%= @flat.name %></h2>
    <p>Address: <%= @flat.address %></p>
    <p>Description: <%= @flat.description  %></p>
    <p>Number of Guests: <%= @flat.guest_num  %></p>
    <p>Price per night: €<%= @flat.price_per_night  %></p>
    <%# <p>Rating: <%= @flat.rating %>
  </div>

  <p>Book the property</p>
  <p>Add a review for the property</p>

  <%= link_to "Back to flats", flats_path %>

  <%= link_to "Delete",
    flat_path(@flat),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>

  <%= link_to "Add a new review", new_flat_review_path(@flat) %>

  <h2>Reviews</h2>
  <div>
    <% @flat.reviews.each do |review| %>
      <p>Content: <%= review.content %></p>
      <p>Location: <%= review.location %></p>
      <p>Cleanliness: <%= review.cleanliness %></p>
      <p>Value: <%= review.value %></p>
      <% overall = (review.value + review.location + review.cleanliness)/3.to_f %>
      <p>Overall: <%= (overall* 2.0).round / 2.0 %></p>
    <% end %>
  </div>

</div>
