<div class="container">
  <h2><%= @flat.name %></h2>
  <p>Address: <%= @flat.address %></p>
  <p>Description: <%= @flat.description  %></p>
  <p>Number of Guests: <%= @flat.guest_num  %></p>
  <p>Price per night: €<%= @flat.price_per_night  %></p>
  <%# <p>Rating: <%= @flat.rating %>

  <p>Book the property</p>
  <p>Add a review for the property</p>

  <%= link_to "Back to flats", flats_path %>

  <%= link_to "Delete",
    flat_path(@flat),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>

  <div>
    <% @flat.reviews.each do |review| %>
      <p>Content: <%= review.content %></p>
      <p>Location: <%= review.location %></p>
      <p>Cleanliness: <%= review.cleanliness %></p>
      <p>Value: <%= review.value %></p>
    <% end %>
  </div>

</div>
