<div class="container">
  <%= link_to "Back to flats", flats_path, class: "btn btn-primary" %>


    <% image_links = @flat.photos.map {|photo| cl_image_tag photo.key} %>
    <%= render partial: 'shared/carousel', locals: {images: [image_links]}%>

  <div class="container-information">
    <h2><%= @flat.name %></h2>
    <p>Address: <%= @flat.address %></p>
    <p>Description: <%= @flat.description  %></p>
    <p>Number of Guests: <%= @flat.guest_num  %></p>
    <p>Price per night: €<%= @flat.price_per_night  %></p>
    <%# <p>Rating: <%= @flat.rating %>
  </div>

  <div class="container-buttons">
    <%# if user is owner, hide book this property %>
    <% if policy(@flat).edit? %>
    <% else %>
      <%= link_to "Book the property", new_flat_booking_path(@flat), class: "btn btn-primary" %>
    <% end %>

    <% if policy(@flat).destroy? %>
      <%= link_to "Delete",
        flat_path(@flat), class: "btn btn-danger",
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    <% else %>
    <% end %>

    <% if policy(@flat).edit? %>
      <%= link_to "Edit this property", edit_flat_path, class: "btn btn-primary" %>
    <% else %>
    <% end %>

    <%# Cannot leave a review for your own property %>
    <% if policy(@flat).edit? %>
    <% else %>
      <%= link_to "Add a new review", new_flat_review_path(@flat), class: "btn btn-primary" %>
    <% end %>
  </div>

  <h2>Where you'll be staying</h2>
  <div class="container-map">
    <div style="width: 80%; height: 500px;"
      data-controller="map"
      <%# Must link controller to js file with stimulus %>
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      <%# Line above keeps API key private %>
      <p>Address:
      <br>
      <%= @flat.address %></p>
  </div>

  <div class="container-reviews">

  <h2>Reviews</h2>

  <div class="container-review-scores">
    <h3>Overall Score</h3>
      <% total_location = [] %>
      <% total_cleanliness = [] %>
      <% total_value = [] %>
        <% @flat.reviews.map do |review| %>
          <% total_location << review.location %>
          <% total_cleanliness << review.cleanliness %>
          <% total_value << review.value %>
        <% end %>

        <%# Total Location Rating %>
        <% if total_location.count != 0  %>
          <% avg_location = total_location.sum / total_location.count %>
          <p><strong>Location Rating: </strong><%= avg_location %></p>
        <% else %>
          <p><strong>Location Rating: </strong>No current rating</p>
        <% end %>
        <%# Total Cleanliess Rating %>
        <% if total_cleanliness.count != 0  %>
          <% avg_cleanliness = total_cleanliness.sum / total_cleanliness.count %>
          <p><strong>Cleanliness Rating: </strong><%= avg_cleanliness %></p>
        <% else %>
          <p><strong>Cleanliness Rating: </strong>No current rating</p>
        <% end %>
        <%# Total Value Rating %>
        <% if total_value.count != 0  %>
          <% avg_value = total_value.sum / total_value.count %>
          <p><strong>Value Rating: </strong><%= avg_value %></p>
        <% else %>
          <p><strong>Value Rating: </strong>No current rating</p>
        <% end %>
      </div>

    <div>
      <% @flat.reviews.each do |review| %>
        <p>Content: <%= review.content %></p>
        <p>Location: <%= review.location %></p>
        <p>Cleanliness: <%= review.cleanliness %></p>
        <p>Value: <%= review.value %></p>
        <% overall = (review.value + review.location + review.cleanliness)/3.to_f %>
        <p>Overall: <%= (overall* 2.0).round / 2.0 %></p>

    <% end %>
    </div>
  </div>
</div>
