<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h1>My Bookings</h1>

      <div>
        <% @requested_bookings.each do |booking| %>
          <div class="review">
            <p> <strong>User: </strong><%= booking.user_id  %></p>
            <p><strong>Arrival: </strong><%= booking.arrival  %></p>
            <p><strong>Departure: </strong><%= booking.departure  %></p>
            <% nights = (booking.departure.to_time.to_i - booking.arrival.to_time.to_i) / 86400 %>
            <% if nights < 0 %>
              <p><strong>Nights:</strong> Your arrival date is after your departure date, please make another booking</p>
            <% else %>
              <p><strong>Nights: </strong><%= nights  %></p>
              <p><strong>Total Price: </strong>£<%= nights*(booking.flat.price_per_night) %></p>
            <% end %>
            <% if booking.status == true %>
              <p><strong>Status: </strong>Confirmed</p>
            <% else %>
            <p><strong>Status: </strong>Not yet Confirmed</p>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
